/* bordi prova */

.bp1
{
    border: 3px solid lime !important;
}

.bp2
{
    border: 3px solid orangered !important;
}

.bp3
{
    border: 3px solid blue !important;
}

.bp4
{
    border: 3px solid deeppink !important;
}

