.body-index
{
    margin: 0; 
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}



.operations-icon
{
    text-decoration: none;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
}


#wrap-messaggio-registrazione
{
    z-index: 9999;
    position: absolute;
    opacity: 0;
    bottom: 15px;            
    right: 15px;    
    box-shadow: 0px 0px 15px white;
    transform: translate(350px);
    transition: 0.4s;
}

.compari-tasto
{
    opacity: 1 !important;
    transform: translate(0px) !important;
}

.rimuovi-tasto
{
    opacity: 0 !important;
    transform: translate(350px) !important;
}

#box-messaggio-registrazione
{
    color: white; 
    width: 300px; 
    height: 70px;                
    background-color: #00bbaa;
}


@media only screen and (max-width: 600px) 
{
    .sidebar-admin
    {
        transform: translate(-300px);
        position: absolute;
    }

    #box-ricerca-interno
    {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) 
{
    .sidebar-admin
    {
        transform: translate(0px);
        position: relative !important;
    }

    #box-ricerca-esterno
    {
        display: none !important;
    }
}

#box-ricerca-esterno, #box-ricerca-interno
{
    background-color: #00bbaa;
}


#sezione-main
{
    background-image: url('../images/smart-buildings.jpg'); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top;
    min-height: 100vh;
    padding: 0px;
}

.sidebar-admin
{
    width: 280px;
    transition: 0.4s;
    z-index: 9999;
}

.scompari_lato_sinistro
{
    /* position: absolute;
    left: -400px !important; */
    transform: translate(-300px);
    position: absolute !important;
}

.compari_lato_sinistro
{
    transform: translate(0px);
}



#admin_button
{
    background-color: transparent; 
    border: 0px; 
    color: white;
    height: 200px;
    transition: 0.4s;
}

#admin_button:hover
{
    transform: scale(1.4);
}

#button_sidebar_toggle
{
    left: 0px; 
    top: 6px; 
    z-index: 9999;
    background-color: transparent;
    border: 0px;
    transition: 0.4s;
}

#button_sidebar_toggle:hover
{
    transform: scale(1.2);
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}


.box-registrazione
{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}